/Trash
/Sources/Methods/test__gzip.4dm
/Sources/Methods/test.4dm
/Sources/Methods/XDOC_run.4dm
/Sources/Methods/ZIP__errHdlrToDevNull.4dm
/Sources/styleSheets_mac.css
/Sources/styleSheets_windows.css
/Sources/menus.json
/DerivedData/formAttributes.json
/DerivedData/CompiledCode
