/Project/DerivedData/CompiledCode
/Project/DerivedData/formAttributes.json
/Project/Sources/Methods/test__gzip.4dm
/Project/Sources/Methods/test.4dm
/Project/Sources/Methods/XDOC_run.4dm
/Project/Sources/Methods/ZIP__errHdlrToDevNull.4dm
/Project/Sources/styleSheets_mac.css
/Project/Sources/styleSheets_windows.css
/Project/DerivedData/webservices.json
/Project/Sources/catalog.4DCatalog
/Project/Sources/menus.json
/Project/Trash
/userPreferences.Bruno LEGAY
*.4DD
*.journal
*.Match
*.4BL
*.4BK
/Components
/Logs
/Logs_4D
/Settings
